<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>system</display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>com.web.user.UserLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserQueryServlet</servlet-name>
    <servlet-class>com.web.user.UserQueryServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserShowServlet</servlet-name>
    <servlet-class>com.web.user.UserShowServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserAddServlet</servlet-name>
    <servlet-class>com.web.user.UserAddServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserCheckSevlet</servlet-name>
    <servlet-class>com.web.user.UserCheckSevlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserDeleteServlet</servlet-name>
    <servlet-class>com.web.user.UserDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserUpdateServlet</servlet-name>
    <servlet-class>com.web.user.UserUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RoleAddServlet</servlet-name>
    <servlet-class>com.web.role.RoleAddServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RoleDeleteServlet</servlet-name>
    <servlet-class>com.web.role.RoleDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RoleQueryServlet</servlet-name>
    <servlet-class>com.web.role.RoleQueryServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RoleUpdateServlet</servlet-name>
    <servlet-class>com.web.role.RoleUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MenuUpdateServlet</servlet-name>
    <servlet-class>com.web.menu.MenuUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MenuShowServlet</servlet-name>
    <servlet-class>com.web.menu.MenuShowServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MenuQueryServlet</servlet-name>
    <servlet-class>com.web.menu.MenuQueryServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MenuDeleteServlet</servlet-name>
    <servlet-class>com.web.menu.MenuDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MenuAddServlet</servlet-name>
    <servlet-class>com.web.menu.MenuAddServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PowerChangeServlet</servlet-name>
    <servlet-class>com.web.powerchange.PowerChangeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PowerQueryServlet</servlet-name>
    <servlet-class>com.web.powerchange.PowerQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserQueryServlet</servlet-name>
    <url-pattern>/UserQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserShowServlet</servlet-name>
    <url-pattern>/UserShowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserAddServlet</servlet-name>
    <url-pattern>/UserAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserCheckSevlet</servlet-name>
    <url-pattern>/UserCheckSevlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserDeleteServlet</servlet-name>
    <url-pattern>/UserDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserUpdateServlet</servlet-name>
    <url-pattern>/UserUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoleAddServlet</servlet-name>
    <url-pattern>/RoleAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoleDeleteServlet</servlet-name>
    <url-pattern>/RoleDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoleQueryServlet</servlet-name>
    <url-pattern>/RoleQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoleUpdateServlet</servlet-name>
    <url-pattern>/RoleUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MenuUpdateServlet</servlet-name>
    <url-pattern>/MenuUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MenuShowServlet</servlet-name>
    <url-pattern>/MenuShowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MenuQueryServlet</servlet-name>
    <url-pattern>/MenuQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MenuDeleteServlet</servlet-name>
    <url-pattern>/MenuDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MenuAddServlet</servlet-name>
    <url-pattern>/MenuAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PowerChangeServlet</servlet-name>
    <url-pattern>/PowerChangeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PowerQueryServlet</servlet-name>
    <url-pattern>/PowerQueryServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
</web-app>